# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [6]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json


# Import API key
from api_keys import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

### Store Part I results into DataFrame

In [7]:
#import cities.csv from part 1
cities_df = pd.read_csv('cities.csv')
cities_df.count()

City          549
Lat           549
Lng           549
Max Temp      549
Humidity      549
Cloudiness    549
Wind Speed    549
Country       547
Date          549
dtype: int64

In [8]:
cities_df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,punta arenas,8.9897,125.3400,74.08,95,100,1.03,PH,1612746927
1,busselton,-33.6500,115.3333,66.99,99,94,1.99,AU,1612746927
2,vaini,-21.2000,-175.2000,77.00,100,90,12.66,TO,1612746927
3,kodiak,57.7900,-152.4072,35.60,55,1,3.44,US,1612746927
4,saint-philippe,-21.3585,55.7679,80.60,61,90,6.91,RE,1612746928

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [9]:
locations = cities_df[['Lat','Lng']]
humidity = cities_df['Humidity']

#create a gmap figure
fig = gmaps.figure()

#add the heatmap layer
fig.add_layer(gmaps.heatmap_layer(locations,weights=humidity,dissipating=False, max_intensity=100, point_radius=2))
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
fig(layout=figLayout(height='420px'))

NameError: name 'figLayout' is not defined

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [11]:

#new df fit into parameters
# max temp lower than 75 degrees but higher than 65.
#Wind speed less than 10 mph.
#Zero cloudiness.
#Drop any rows that don't contain all three conditions. 

ideal_df = cities_df.loc[(cities_df['Max Temp'] < 85) & (cities_df['Max Temp']>=75)\
                         & (cities_df['Wind Speed'] < 10)\
                         & (cities_df['Cloudiness'] == 0)] 

#store as a new variable
hotel_df = ideal_df.copy()

hotel_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
15,cabedelo,-6.9811,-34.8339,80.60,83,0,6.91,BR,1612746930
65,karratha,-20.7377,116.8463,81.61,59,0,8.99,AU,1612746896
76,hithadhoo,-0.6000,73.0833,81.61,72,0,8.16,MV,1612746940
87,santa isabel do rio negro,17.4860,120.4348,79.77,64,0,4.54,PH,1612746942
166,pitimbu,-7.4706,-34.8086,80.60,83,0,6.91,BR,1612746956
299,bubaque,11.2833,-15.8333,78.85,67,0,5.12,GW,1612746981
429,bonthe,7.5264,-12.5050,78.39,86,0,1.52,SL,1612747001
489,harper,4.3750,-7.7169,79.20,89,0,6.55,LR,1612747008
493,santa eulalia del rio,17.4860,120.4348,79.83,64,0,4.79,PH,1612747009

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [12]:
#set parameters to search for hotels within 5000 mile radius
#https://developers.google.com/places/web-service/search for parameters

hotel_df["Hotel Name"] = ""

hotel_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
15,cabedelo,-6.9811,-34.8339,80.60,83,0,6.91,BR,1612746930,
65,karratha,-20.7377,116.8463,81.61,59,0,8.99,AU,1612746896,
76,hithadhoo,-0.6000,73.0833,81.61,72,0,8.16,MV,1612746940,
87,santa isabel do rio negro,17.4860,120.4348,79.77,64,0,4.54,PH,1612746942,
166,pitimbu,-7.4706,-34.8086,80.60,83,0,6.91,BR,1612746956,
299,bubaque,11.2833,-15.8333,78.85,67,0,5.12,GW,1612746981,
429,bonthe,7.5264,-12.5050,78.39,86,0,1.52,SL,1612747001,
489,harper,4.3750,-7.7169,79.20,89,0,6.55,LR,1612747008,
493,santa eulalia del rio,17.4860,120.4348,79.83,64,0,4.79,PH,1612747009,

In [13]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>

<dt>Name</dt><dd>{Hotel Name}</dd>

<dt>City</dt><dd>{City}</dd>

<dt>Country</dt><dd>{Country}</dd>

</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name

hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [14]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations)
fig.add_layer(markers)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))